/* Typography */
/* Mobile */
@media (max-width: 767px) {
	html {
		font-size: 0.85em;
	}
}
/* Tablet */
@media (min-width : 768px) and (max-width : 1199px)  {
	html {
		font-size: 1em;
	}
}
/* Desktop */
@media (min-width: 1200px) {
	html {
		font-size: 1.2em;
	}
}
