.App {
	font-family: Arial, "Trebuchet MS", Sans-Serif;
	background: #000
	url("/images/bg/bg.jpg");
	background-repeat: repeat;
	color: #ededed;
	position: relative; /* Footer position fix */
}

.App main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	text-align: center;
	padding:10px;
	padding-bottom: 85px;   /* Height of the footer */
}
